.main{
    display: grid;
    height:100vh;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: 
        "nav nav nav nav"
        "content content content "
        "content2 content2 content2"
    
    ;
}
nav{
    text-align: center;
    font-style: italic;
}
.content{
    display:grid;
    grid-template-columns: 2fr 3fr 2fr;
}
.content2{
    display:grid;
    grid-template-columns: 2fr 4fr;
}